:root {
	--lightest: #fefefe;
	--lighter: #e6e7eb;
	--light: #ccced3;
	--gray: #a1a0a0;
	--dark: #625a5d;
	--darker: #28282f;
	--darkest: #14141d;
	--dark-green: #689f38;
	--main-green: #8bc34a;
	--light-green: #dcedc8;
	--orange: #ffab40;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
